/*
CSS p/ prototipagem e desenvolvimento do site do projeto
Base criada por Archie
Última atualização: 12/03/2019
*/

/* Fonts */
/* Includes */
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Prompt:300|Quicksand');
/* Index.html */

* {}

.banner {
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  height: 200px;
  margin-left: 10px;
  position: fixed absolute;
  padding: 0 20px;
  width: 100%;
  font-size: 4em;
  display: inline-block;
  text-align: center;
  padding-top: 60px;
  margin-bottom: -60px;
}

.active {
  background-color: #41C0AF;
}

html, body {
  background-color: #302C2E;
  font-family: Quicksand;
  color: #FFFFFF;
}

.navbar {
  overflow: hidden;
  background-color: #09B19A;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #41C0AF;
}
