/*
CSS p/ prototipagem e desenvolvimento do site do projeto
Base criada por Archie
Última atualização: 12/03/2019
*/

/* Fonts */
/* Includes */
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Prompt:300|Quicksand');
/* Index.html */

/* Definindo Cor de Background, Cor do texto e Fonte que será usada na página inteira(Html e Body) */
html, body {
  background-color: #302c2e;
  font-family: Quicksand;
  color: #FFFFFF;
}

/* Listagem do Menu */
ul, li {
  display: inline; /* Deixa todos os botoes na mesma linha*/
}


ul {
  list-style-type: none; /* Definindo tipo de lista para não mostrar nenhum tópico */
  margin: 0; /* Definindo margem de todos os candos = 0 */
  padding: 0; /* Definindo nenhum tipo de "caixa" */
  overflow: hidden; /* Deixando overflow Hidden */
  background-color: #333; /* Definindo cor do Background para teste */
}

li {
  float: left; /* Definindo que todos os itens da lista para serem disponibilizados ao máximo da esquerda da página o possível */
}

li a {
  display: block; /* Definindo método de amostragem */
  text-align: center; /* Definindo que todos os textos serão disponibilizados no centro, respeitando o padding */
  padding: 14px 16px; /* Definindo Padding com 14 pixels de altura e 16 pixels de comprimento */
  text-decoration: none; /* Nenhum tipo de decoração no texto */
}

li a:hover {
  background-color: #41C0AF; /* Definindo cor do background quando o mouse está por cima do item */
}

.active {
  background-color: #41C0AF; /* Definindo cor para classe ativa */
  padding: 14px 16px; /* Definindo o padding dela (apenas para confirmar, mas nao é realmente necessário) */
  text-align: center; /* Alinhando o texto ao centro (também para confirmar) */
}
/* Código para Menu Dropdown(Listagem em botão) */

li a, .dropbtn {
  display: inline-block; /* Definindo método de amostragem */
  color: white; /* Definindo cor de texto (confirmação) */
  text-align: center; /* Definindo amostragem de texto (confirmação) */
  padding: 14px 16px; /* Definindo padding (confirmação) */
  text-decoration: none; /* Definindo texto de decoração (confirmação) */
}

li.dropdown {
  display: inline-block; /* Definindo o método de amostragem da lista dropdown */
}

.dropdown-content-iotuff {
  display: none; /* não mostrar nada */
  position: absolute; /* A posição deve ser absoluta */
  background-color: #09B19A; /* Definindo cor dos botões de dropdown */
  min-width: 133px; /* Definindo um comprimento de botão mínimo */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombreamento da lista */
  z-index: 1; /* Definindo Eixo Z */
}

.dropdown-content a {
  color: black; /* Definindo cor do texto como Preto */
  padding: 14px 16px; /* Confirmando Padding */
  text-decoration: none; /* Confirmando decoração de texto */
  display: block; /* confirmando display */
  text-align: left; /* Confirmando alinhamento de texto */
}

.dropdown-content a:hover {
  background-color: #41C0AF /* Definindo cor do botão da lista quando selecionado */
}

.dropdown:hover .dropdown-content {
  display: block; /* Confirmando a amostragem de display */
}


.caixa1 {
  color: #333; /* Definindo cor de texto para cinza */
  background-color: #7D7869; /* Definindo cor do background */
  border-radius: 15px; /* Criando uma borda de 15 pixels */
  box-shadow: #fff; /* Definindo sobra da caixa como branco */
  margin-left: 20px; /* Margem de 20 pixels em relação a esquerda */
  margin-right: 5%; /* Margem de 5% em relação a direita */
  margin-top: 4%; /* Margem de 4% em relação ao topo */
  margin-bottom: 2%; /* Margem de 2% em relação ao final do markdown */
  width: 97%; /* Definindo comprimento = 97% do tamanho da página */
  height: 540px; /* Definindo altura com 540 pixels */

}

.caixa2{
  color: #fff; /* Definindo cor de texto */
  border:  #7D7869 solid 10px; /* Definindo cor de borda */
  background-color: rgb(14, 13, 12); /* Definindo cor RGB */
  border-radius: 15px; /* Definindo raio de borda */
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Definindo cor para as caixas */
  margin-left: 69%; /* Definindo margem de 69% em relação à esquerda */
  margin-right: 5%; /* Definindo margem de 5% em relação à direita */
  margin-top: 5%; /* Definindo margem de 5% em relação ao topo */
  margin-bottom: 5%; /* Definindo margem de 5% em relação ao final da página */
  width: 30%; /* Definindo 30% comprimento */
  height: 520px; /* Definindo Altura de 520 pixels */
}

input{
  border-radius: 8px; /* Raio de borda = 8 pixels */
  background-color: #fff; /* Definindo cor de plano de fundo como branco */
  color: black; /* Definindo cor de texto como preto */
  width: 250px; /* Comprimento = 250 pixels */
  height: 30px; /* Altura = 30 pixels */
  font-size: 1em; /* Fonte = 1em =  16 pixels */
}

  .margem_login{
  margin-top: 10%; /* Definindo margem de topo com 10% do tamanho da página */
  margin-left: 2% /* definindo margem à esquerda como 2% da página */
  }

    .titulo{
  text-align: center; /*  */
  color :aqua; /*  */
  font-size: 4em; /*  */
  margin-top: 3% /*  */
}

    .margem_login_senha{

      margin-top: 10%;
      margin-left: 0%;

    }

    a {

      color :aqua;


    }

    .cadastro{

      font-size: 2em
    }

    .logo {

      width: 100px;
      height: 100px;
      margin-top: 50px;
      
      float: left;
      position: absolute;
      
    }
      img{

        width: 270px;
        height : 150px;
      }

      .letreiro {

        width: 100%;
        color: #09B19A;
        margin-top: 40px;
        float: left;
        font-size: 1.5em;       
        text-align: center;
        position: absolute;
        
      }
      


/* iOTuff.html */
/* Timeline.html */
